* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}


header {
    background-color: #ffcc00;
    padding: 30px 20px;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.about {
    padding: 40px 20px;
    text-align: center;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.happy-img {
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.activities {
    background-color: #ffedc2;
    padding: 40px 20px;
    text-align: center;
}

.activities h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.activities ul {
    list-style: none;
    padding: 0;
}

.activities li {
    font-size: 1.2em;
    margin: 10px 0;
}


